# Compiled Sources #
# Server #
*.war
Server/WSCloudUnifierService/target/*
Server/WSCloudUnifierService/target/maven-archiver/pom.properties

# Server Config Files #
Server/WSCloudUnifierService/dBoxConfig.json
Server/WSCloudUnifierService/gDriveConfig.json

# Client #
Client/node_modules/*
