<div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Documents </h2>
      </div>
      <div class="panel-body">
        <span class="counter pull-right"></span>
        <div id="folders-and-files" class="col-sm-6">
          <table class="table table-bordered table-responsive table-hover results" >
              <tr>
                <th>Nom</th>
              </tr>
              <tbody>

                  <tr *ngFor="let filefolder of folders" >
                    <td *ngIf="filefolder._toDisplayAndIsFolder" class="folder"> <h1><span class="glyphicon glyphicon-folder-close"></span></h1>{{ filefolder.name }} </td>
                    <td *ngIf="filefolder._toDisplayAndIsFile" class="file"> <h1><span class="glyphicon glyphicon-file"></span></h1>{{ filefolder.name }} </td>
                  </tr>

              </tbody>
          </table>
        </div>
        <div id="informations-files-folders" class="col-sm-6">
          <table class="table table-bordered table-responsive table-hover results" >
              <tr>
                <th>
                  Informations
                </th>
              </tr>
              <tbody>
                <tr>
                    <td>
                      Voici les infos : blablabla
                    </td>
                </tr>

              </tbody>
          </table>
        </div>
      </div>
    </div>
