<div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{{_currentPath}} </h2>
      </div>
      <div class="panel-body">
        <span class="counter pull-right"></span>
        <div id="folders-and-files" class="col-sm-6">
          <table class="table table-bordered table-responsive table-hover results" >
              <tr>
                <th>Nom</th>
              </tr>
              <tbody>

                  <tr *ngFor="let filefolder of folders" >
                    <!--icone fichier / dossier-->
                    <td *ngIf="filefolder._toDisplayAndIsFolder" class="folder" (click)="onSelectFolder(filefolder)">
                        <span class="glyphicon glyphicon-folder-close" style="font-size: 3em;"></span>  {{ filefolder.name }}<br><br>
                        <span class="glyphicon glyphicon-trash" title="Supprimer" style="font-size: 1.5em;"></span>
                        <span class="glyphicon glyphicon-link" title="Partager" style="font-size: 1.5em; margin-left: 30px;"></span>
                    </td>
                    <td *ngIf="filefolder._toDisplayAndIsFile" class="file">
                      <span class="glyphicon glyphicon-file" style="font-size: 3em;"></span>{{ filefolder.name }} <br><br>
                      <span class="glyphicon glyphicon-trash" title="Supprimer" style="font-size: 1.5em;"></span>
                      <span class="glyphicon glyphicon-link" title="Partager" style="font-size: 1.5em; margin-left: 30px;"></span>
                    </td>

                    <!--icone pour avoir les infos-->
                    <td *ngIf="filefolder._toDisplayAndIsFile" class="infosFileFolder" (click)="onSelectInfo(filefolder)"><span class="glyphicon glyphicon-info-sign"></span></td>
                  </tr>

        </tbody>
      </table>
    </div>
    <div id="informations-files-folders" class="col-sm-6">
      <table class="table table-bordered table-responsive table-hover results" >
        <tr>
          <th>
            Informations
          </th>
        </tr>
        <tbody>
          <tr>
            <td >
              <div *ngIf="folders._selected">{{folders._selected.getInfos()}}</div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
